@layer utilities {
  /* Thin scrollbar */
  .thin-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0; /* slate-200 */
    border-radius: 3px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1; /* slate-300 */
  }

  /* Hide scrollbar arrows (buttons) */
  .thin-scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  .animate-delayed-fade-in {
    animation: fadeIn 0.3s ease-in-out 0.2s forwards;
    opacity: 0;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}